{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <nav>
            <ul class="nav-list">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/pets">
                    <li>View Pets</li>
                </a>
                <a href="/profile/:profileId">
                    <li>View Profile</li>
                </a>
                <a href="/signout">
                    <li>Sign Out</li>
                </a>
            </ul>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>
