{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <nav>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'pets-index' %}">View Pets</a>
                </li>
                <li>
                    <a href="{% url 'pet-create' %}">Post a Pet</a>
                </li>
                <li>
                    <a href="{% url 'toy-index' %}">All Toys</a>
                </li>
                <li>
                    <a href="{% url 'toy-create' %}">Add a Toy</a>
                </li>
                <li>
                    <a href="/admin">Admin</a>
                </li>
                <li>
                    <a href="/signout">Sign Out</a>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>
