/* general styles / resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

:root {
  --primary-color: #31a92f;
  --primary-color-tint: #2b8929;
  --theme-light-100: #f9f9f9;
  --theme-light-200: #e0e0e0;
  --theme-white: #fff;
  --theme-dark: #333;
  --danger-color: rgb(205, 37, 37) !important;
  --warn-color: rgb(218, 180, 28) !important;
}

/* variables */

body {
  font-family: "Arial", sans-serif;
  background-color: var(--theme-light-100);
  color: var(--theme-dark);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

/* nav */

nav {
  background-color: var(--theme-white);
  border-bottom: 0.1rem solid var(--theme-light-200);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  font-size: 1.33rem;
}

.nav-list li {
  margin-right: 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-list li a:hover {
  color: var(--primary-color);
}

/* header */

header {
  background-color: var(--primary-color);
  color: var(--theme-white);
  padding: 2rem;
  text-align: center;
  font-size: 2.4rem;
}

/* landing page */

#landing-page {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  color: #333;
}

#hero-img-container img {
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid;
  width: 60%;
  padding: 5rem;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #e0e0e0;
}

.intro {
  padding: 20px;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
}

/* footer */

footer {
  background-color: var(--theme-white);
  border-top: 0.1rem solid var(--theme-light-200);
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.4rem;
}

/* typography */

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}

/* card */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  background-color: var(--theme-white);
  border: 0.1rem solid var(--theme-light-200);
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  padding: 2rem;
  width: 40rem;
}

.card-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.card-img {
  object-fit: cover;
  height: 20rem;
  overflow: hidden;
}

.card-img img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  font-size: 1.6rem;
  color: #666;
}

.quick-details {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  font-size: 1.6rem;
}

.price {
  font-size: 1.8rem;
  font-weight: 800;
}

.tags {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

.details-container button {
  width: 100%;
}

.card-footer {
  text-align: right;
  margin-top: 2rem;
}

/* Button styles */

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.4rem;
  color: var(--theme-white);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s ease-out;
}

button:hover {
  background-color: var(--primary-color-tint);
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 8px 20px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 20px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 20px -11px rgba(0, 0, 0, 0.75);
}

button:disabled {
  background-color: var(--theme-light-200);
  cursor: not-allowed;
}

/* Link styles */

a {
  color: var(--primary-color);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

a.button-link {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--theme-white);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1.6rem;
}

a.button-link:hover {
  background-color: var(--primary-color-tint);
}

/* Additional styles */

.header-logo-container {
  text-align: center;
  padding: 2rem 0;
}

.header-logo-container img {
  max-width: 10rem;
}

section {
  margin-top: 3rem;
}

h1 {
  margin-top: 8rem;
}
#landing h1 {
  margin: 0;
}
.form {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--theme-white);
  text-decoration: none;
  background-color: var(--primary-color);
}

.btn.danger {
  background-color: var(--danger-color);
  color: var(--theme-white);
}

.btn.danger:hover {
  background-color: rgb(152, 28, 28);
}
